.itemlist__container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);     
    }
}

@media screen and (max-width: 1244px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 842px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .itemlist__container {
        padding-top: 20%;
    }

}




