.formulario{
    margin-top: 200px;
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 350px;
    width: 550px;
    border: solid black 0.0001px;
}

.formulario__input {
    display: inline-block;
    align-items: center;
    width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid #448cdc;
    margin-bottom: 2.5em;
    outline:0px;
}

.formulario--centra {
    padding-top: 20%;
}

button{
    width: 200px;
}

.formulario__button--radius {
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.formulario__button--position {
    position: relative;
    bottom: -70px;
}

@media screen and (max-width: 1440px) {
    .circulo--izquierdo {
        bottom: 15%;
        left: -22rem;
        width: 30em;
        height: 30em;
        background: #448cdc;
    }
    .circulo--arriba {
        top: -15%;
        left: 15.3rem;
        width: 10em;
        height: 10em;
        background: #b1e3f3;
    }
    .circulo--medio {
        background: #5f94e0;
        bottom: 50%;
        left: 6.5rem;
        width: 3em;
        height: 3em;
        opacity: 0.4;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
    .circulo--izquierdo {
        display: none;
    }
    .circulo--arriba {
        display: none;
    }
    .circulo--medio {
        display: none;
    }
    .formulario--izquierda {
        display: inline-block;
        text-align: center;
    }

    .formulario__input {
        width: 400px;
    }

    .formulario {
        border: solid black 1px;
    }

}

@media screen and (max-width: 320px) {}