.formulario{
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 300px;
    width: 500px;
}

.formulario__input {
    display: inline-block;
    align-items: center;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid #448cdc;
    margin-bottom: 3em;
    outline:0px;
}

.formulario--centra {
    padding-top: 15%;
}

button{
    width: 150px;
}

.formulario__button--radius {
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.formulario__button--position {
    position: relative;
    bottom: -55px;
}